@{
    ViewBag.Title = "Customized";
}

<style>
    #bodymuscles {
        max-width: 80%;
    }

    area {
    }

    img {
        max-width: 165%;
    }
</style>
<div class="row">
<div class="col-md-4" id="bodymuscles">
    <img style="position: absolute;" id="body-img" src="~/Content/Images/body.png" usemap="#map" />
    <img style="position: absolute;" id="a1-img" src="~/Content/Images/1.png" class="hidden" usemap="#map" onclick="paint(a1-img)"/>
    <img style="position: absolute;" id="a2-img" src="~/Content/Images/2.png" class="hidden" usemap="#map" />
    <img style="position: absolute;" id="a3-img" src="~/Content/Images/3.png" class="hidden" usemap="#map" />
    <img style="position: absolute;" id="a4-img" src="~/Content/Images/4.png" class="hidden" usemap="#map" />
    <img style="position: absolute;" id="a5-img" src="~/Content/Images/5.png" class="hidden" usemap="#map" />
    <img style="position: absolute;" id="a6-img" src="~/Content/Images/6.png" class="hidden" usemap="#map" />
    <img style="position: absolute;" id="a7-img" src="~/Content/Images/7.png" class="hidden" usemap="#map" />
    <img style="position: absolute;" id="a8-img" src="~/Content/Images/8.png" class="hidden" usemap="#map" />
    <img style="position: absolute;" id="a9-img" src="~/Content/Images/9.png" class="hidden" usemap="#map" />

    <map name="map">
        <area data-img-id="a1-img" id="A1" target="" alt="chest" title="chest" href="" coords="386,443,412,429,477,449,536,449,600,431,625,452,667,543,609,583,555,590,526,577,506,604,479,574,442,593,388,575,343,546"*/ shape="poly">
        <area data-img-id="a2-img" target="" alt="rshoulder" title="rshoulder" href="" coords="625,441,650,420,706,431,750,478,757,557,672,528" shape="poly">
        <area data-img-id="a2-img" target="" alt="lshoulder" title="lshoulder" href="" coords="357,416,383,441,339,530,252,557,256,485,299,434" shape="poly">
        <area data-img-id="a3-img" target="" alt="rabs" title="rabs" href="" coords="578,597,656,574,654,716,641,762,650,856,602,935,547,975,589,863,585,811,603,751" shape="poly">
        <area data-img-id="a3-img" target="" alt="labs" title="labs" href="" coords="359,570,430,604,408,749,424,814,424,870,462,975,404,934,354,841,368,774,352,669" shape="poly">
        <area data-img-id="a4-img" target="" alt="abs" title="abs" href="" coords="437,604,484,588,506,615,526,588,574,608,591,742,573,811,583,827,565,921,535,977,504,990,473,979,442,914,430,825,435,807,417,742" shape="poly">
        <area data-img-id="a5-img" target="" alt="ruparms" title="rarms" href="" coords="328,528,256,550,220,604,223,662,241,695,241,752,306,684,335,615" shape="poly">
        <area data-img-id="a5-img" target="" alt="luparms" title="larms" href="" coords="679,511,744,533,762,547,788,598,788,645,770,674,766,735,704,667,675,602" shape="poly">
        <area data-img-id="a6-img" target="" alt="ltrapez" title="ltrapez" href="" coords="435,384,365,414,386,432,412,422,480,441" shape="poly">
        <area data-img-id="a6-img" target="" alt="rtrapez" title="rtrapez" href="" coords="522,441,573,384,641,416,620,432,598,422" shape="poly">
        <area data-img-id="a7-img" target="" alt="ltights" title="ltights" href="" coords="312,1038,357,867,413,957,489,1010,456,1229,451,1353,430,1436,417,1310,355,1404,351,1323,308,1158" shape="poly">
        <area data-img-id="a7-img" target="" alt="rtights" title="rtights" href="" coords="520,1010,591,961,654,874,694,1020,701,1147,661,1324,658,1404,593,1312,582,1444,555,1332,551,1211" shape="poly">
        <area data-img-id="a8-img" target="" alt="llegs" title="llegs" href="" coords="408,1333,341,1449,325,1561,348,1719,413,1807,399,1704,437,1581" shape="poly">
        <area data-img-id="a8-img" target="" alt="rlegs" title="rlegs" href="" coords="600,1333,574,1576,612,1715,598,1806,658,1721,687,1601,674,1462" shape="poly">
        <area data-img-id="a9-img" target="" alt="larms" title="arms" href="" coords="227,693,182,773,173,859,147,943,213,850,198,988,260,856,298,738,299,706,232,787,238,713" shape="poly">
        <area data-img-id="a9-img" target="" alt="rarms" title="arms" href="" coords="716,709,768,780,772,718,782,695,819,758,830,850,869,950,799,867,811,981,754,868,710,736" shape="poly">
    </map>
</div>

</div>
@section scripts{
    <script>

        function paint(imgId) {
            alert(document.getElementById(imgId).coords)
        }
        $(document).ready(function () {


            $('map > area').mouseover(function () {
                let imgId = $(this).attr("data-img-id");
                //if (imgId == "") return;
                $("#" + imgId).removeClass("hidden");
            }).mouseout(function () {
                let imgId = $(this).attr("data-img-id");
                //if (imgId == "") return;
                $("#" + imgId).addClass("hidden");
            }).click(function (e) {
                e.preventDefault();
                $(this).unbind('mouseout');
                let imgId = $(this).attr("data-img-id");
                $("#" + imgId).removeClass("hidden");
                console.log("ddddd");
            });
        });
    </script>
}