@{
    ViewBag.Title = "Customized";
}
<style>


    .bodyPart {
        max-width: 154%;
    }

    .difficultyLogo {
        display: inline-block;
        opacity: 0.5;
    }

    h1, h3 {
        text-align: center;
        font-family: 'Special Elite';
    }

    h1 {
        font-size: 67px;
    }

    #difficultyEasy {
        width: 50%;
        margin-top: 88%;
        margin-left: 30%;
    }

    #difficultyMedium {
        width: 80%;
        margin-top: 64%;
    }

    #difficultyLarge {
        width: 120%;
        margin-top: 30px;
    }


    #chill {
        margin-left: 9px;
    }

    #hard {
        margin-left: -18px;
    }

    #extreme {
        margin-left: 12px;
    }

    #container {
        position: absolute;
        width: 285px;
        height: 218.7px;
        margin-top: -224px;
        margin-left: 53px;
    }

    #dial-value, #info {
        color: #ecf0f1;
        font-size: 56pt;
        font-family: Oswald, sans-serif;
        text-align: center;
    }

    #dial-value {
        font-size: 54pt;
        margin-top: 149px;
    }

    #info {
        font-size: 31pt;
        margin-top: -239px;
        font-family: 'Special Elite';
    }

    svg {
        margin-left: 54px;
    }

    #go {
        text-align: center;
        margin-left: 50%;
        display: block;
    }
</style>

<div class="row">
    <div class="col-md-4" id="bodymuscles">
        <img style="position: absolute;" id="body-img" src="~/Content/Images/miniBody.png" usemap="#map" />

        <img style="position: absolute;" id="a1-img" src="~/Content/Images/1.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a2-img" src="~/Content/Images/2.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a3-img" src="~/Content/Images/3.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a4-img" src="~/Content/Images/4.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a5-img" src="~/Content/Images/55.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a6-img" src="~/Content/Images/6.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a7-img" src="~/Content/Images/7.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a8-img" src="~/Content/Images/8.png" class="hidden bodyPart" usemap="#map" />
        <img style="position: absolute;" id="a9-img" src="~/Content/Images/9.png" class="hidden bodyPart" usemap="#map" />

        <img style="z-index:0; position: absolute;" id="a1-img0" src="~/Content/Images/1.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a2-img0" src="~/Content/Images/2.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a3-img0" src="~/Content/Images/3.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a4-img0" src="~/Content/Images/4.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a5-img0" src="~/Content/Images/55.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a6-img0" src="~/Content/Images/6.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a7-img0" src="~/Content/Images/7.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a8-img0" src="~/Content/Images/8.png" class="hidden bodyPart area" usemap="#map" />
        <img style="z-index:0; position: absolute;" id="a9-img0" src="~/Content/Images/9.png" class="hidden bodyPart area" usemap="#map" />
        <map name="map">
            
            <area data-img-id="a1-img" id="A1" target="" alt="chest" title="chest" href="" coords="118,124,144,131,157,130,177,123,184,128,199,161,169,173,155,169,147,176,140,171,128,174,98,159" shape="poly">
            <area data-img-id="a2-img" target="" alt="rshoulder" title="shoulders" href="" coords="104,122,113,130,101,156,74,166,74,144,84,128" shape="poly">
            <area data-img-id="a2-img" target="" alt="lshoulder" title="shoulders" href="" coords="183,128,191,121,208,125,221,140,223,166,195,156" shape="poly">
            <area data-img-id="a3-img" target="" alt="rabs" title="rabs" href="" coords="104,165,128,174,123,198,123,205,120,220,126,236,125,248,135,284,117,273,105,252,109,225,104,220,103,190" shape="poly">
            <area data-img-id="a3-img" target="" alt="labs" title="labs" href="" coords="169,173,192,166,195,187,189,223,193,250,163,287,168,264,173,239,169,237,177,223,174,203" shape="poly">
            <area data-img-id="a4-img" target="" alt="abs" title="abs" href="" coords="148,180,155,170,168,176,173,202,175,220,168,236,171,240,167,266,148,291,129,270,125,241,129,236,121,221,123,201,127,176,142,170" shape="poly">
            <area data-img-id="a5-img" target="" alt="ruparms" title="rarms" href="" coords="93,158,95,166,83,208,71,226,69,209,65,199,63,184,71,167" shape="poly">
            <area data-img-id="a5-img" target="" alt="luparms" title="larms" href="" coords="199,158,213,208,225,226,227,207,231,199,232,183,227,168" shape="poly">
            <area data-img-id="a6-img" target="" alt="ltrapez" title="ltrapez" href="" coords="167,110,189,120,183,127,176,124,153,129" shape="poly">
            <area data-img-id="a6-img" target="" alt="rtrapez" title="rtrapez" href="" coords="129,111,142,130,122,124,113,126,105,120" shape="poly">
            <area data-img-id="a7-img" target="" alt="ltights" title="ltights" href="" coords="155,293,165,286,185,267,191,255,201,280,207,320,207,335,195,386,193,412,177,392,173,403,173,423,162,403,162,374,163,356,157,332" shape="poly">
            <area data-img-id="a7-img" target="" alt="rtights" title="rtights" href="" coords="104,254,118,275,143,293,143,319,135,354,135,387,126,423,121,389,105,411,103,385,89,338,91,299" shape="poly">
            <area data-img-id="a8-img" target="" alt="llegs" title="llegs" href="" coords="176,389,195,418,202,442,201,470,197,493,191,508,175,528,178,506,175,489,167,467,168,451,173,434" shape="poly">
            <area data-img-id="a8-img" target="" alt="rlegs" title="rlegs" href="" coords="121,390,125,424,125,435,129,457,127,468,117,504,123,530,101,505,95,466,95,439,101,417" shape="poly">
            <area data-img-id="a9-img" target="" alt="larms" title="arms" href="" coords="229,203,240,220,243,233,243,243,255,280,235,254,238,291,220,253,213,235,211,223,207,217,208,208,225,225" shape="poly">
            <area data-img-id="a9-img" target="" alt="rarms" title="arms" href="" coords="87,207,90,212,85,224,83,231,59,288,61,252,40,278,51,243,55,224,65,205,71,226" shape="poly">

            <area data-img-id="b2-img" target="" alt="backrshoulder" title="shoulders" href="" coords="488,119,508,131,513,138,519,158,505,158,494,152,475,136,479,126" shape="poly">
            <area data-img-id="b2-img" target="" alt="backlshoulder" title="shoulders" href="" coords="397,118,406,126,410,137,401,142,390,152,383,156,375,158,366,158,369,140,381,126" shape="poly">
            <area data-img-id="b2-img" target="" alt="ltriceps" title="triceps" href="" coords="365,157,385,157,391,152,392,179,378,210,369,212,357,209,355,200,361,182,359,174" shape="poly">
            <area data-img-id="b2-img" target="" alt="rtriceps" title="triceps" href="" coords="519,156,526,178,528,200,526,210,507,209,495,190,492,176,492,152,499,156,513,158" shape="poly">
            <area data-img-id="b7-img" target="" alt="backltights" title="ltights" href="" coords="389,273,398,278,403,289,401,311,415,309,436,297,439,326,437,371,421,430,420,406,408,412,403,402,395,415,395,384,387,346,385,304" shape="poly">
            <area data-img-id="b7-img" target="" alt="backrtights" title="rtights" href="" coords="496,274,500,317,495,352,490,384,489,415,481,401,476,412,466,406,465,428,448,378,446,329,447,296,483,310,482,289,487,277" shape="poly">
            <area data-img-id="b8-img" target="" alt="backllegs" title="llegs" href="" coords="419,407,419,431,425,449,425,463,420,475,415,502,417,522,411,517,405,519,397,531,399,516,398,503,385,459,385,438,391,421,403,401,409,411" shape="poly">
            <area data-img-id="b8-img" target="" alt="backrlegs" title="rlegs" href="" coords="481,400,495,430,499,444,499,464,485,512,488,530,481,519,476,516,467,518,471,506,465,475,459,465,459,451,465,434,465,406,476,413" shape="poly">
            <area data-img-id="b9-img" target="" alt="backlarms" title="arms" href="" coords="355,199,360,211,369,216,377,211,377,217,371,231,347,283,333,279,325,280,339,243,345,217" shape="poly">
            <area data-img-id="b9-img" target="" alt="backrarms" title="arms" href="" coords="529,199,540,217,542,231,544,242,560,279,553,279,540,285,515,238,515,229,507,216,509,209,516,215,526,210" shape="poly">
            <area data-img-id="b1-img" target="" alt="back" title="back" href="" coords="487,119,478,125,475,138,491,153,492,182,485,220,474,230,467,232,443,279,412,230,408,231,399,220,393,180,393,152,409,135,407,126,398,118,413,114,431,116,443,137,449,117,470,114" shape="poly">
            <area data-img-id="b3-img" target="" alt="butt" title="butt" href="" coords="390,272,404,252,425,246,443,282,460,246,480,254,494,274,485,280,482,296,484,312,469,308,443,294,416,310,401,311,403,296,401,278" shape="poly">

        </map>
    </div>

    <div class="col-md-4" id="bodymuscles">
        <!--nothing here - made for keeping space from body map-->
    </div>

    <div class="col-md-4" id="bodymuscles">
        <div class="row" id="diffs">
            <h1>difficulty</h1>
            <div class="col-sm-4">
                <img id="difficultyEasy" src="~/Content/Images/difficultyLogo.PNG" class="difficultyLogo" />
                <h3 id="chill">chill</h3>
            </div>
            <div class="col-sm-4">
                <img id="difficultyMedium" src="~/Content/Images/difficultyLogo.PNG" class="difficultyLogo" />
                <h3 id="hard">hard</h3>
            </div>
            <div class="col-sm-4">
                <img id="difficultyLarge" src="~/Content/Images/difficultyLogo.PNG" class="difficultyLogo" />
                <h3 id="extreme">extreme</h3>
            </div>
        </div>

        <div class="row">
            <br />
            <br />
            <h1>training time</h1>

            <div class="col col-6">
                <select id="time" class="form-control">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
        </div>

        <button id="send" class="btn btn-success" style="margin:auto auto; width:150px;" disabled>Complete customization to begin training</button>

    </div>
</div>



@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/utils/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ThrowPropsPlugin.min.js"></script>
    <script>

        $(document).ready(function () {
            $('map > area')
                .mouseover(function () {
                    let imgId = $(this).attr("data-img-id");
                    $("#" + imgId).removeClass("hidden");
                    $("#" + imgId).css({ 'opacity': 0.3 });
                    $("#" + imgId + 0).css({ 'opacity': 0.3 });
                }).mouseout(function () {
                    let imgId = $(this).attr("data-img-id");
                    $("#" + imgId).addClass("hidden");
                    $("#" + imgId + 0).css({ 'opacity': 1 });
                }).click(function (e) {
                    e.preventDefault();
                    //$(this).unbind('mouseout');
                    let imgId = $(this).attr("data-img-id");
                    $("#" + imgId + '0').toggleClass("hidden");
                    enableSend();
                });

            $('.difficultyLogo')
                .mouseover(function () {
                    if ($(this).attr('data-active') == 'true') return;
                    $(this).css({ 'opacity': 0.7 });

                }).mouseout(function () {
                    if ($(this).attr('data-active') == 'true') return;
                    $(this).css({ 'opacity': 0.5 });

                }).click(function () {
                    $(".difficultyLogo").attr('data-active', 'false');
                    $(".difficultyLogo").css({ 'opacity': 0.5 });
                    $(this).attr('data-active', 'true');
                    $(this).css({ 'opacity': 1 });
                    enableSend();
                });



            $("#send").click(function () {
                let time = $("#time").val();
                let diff = $(".difficultyLogo[data-active='true'").attr("id");

                let areas = [];
                let imgs = $('#bodymuscles').find(".area");
                $.each(imgs, function () {
                    if ($(this).hasClass("hidden"))  return;
                    areas.push($(this).attr('id'));
                });

                let customChoice = {
                    time: time,
                    diff: diff,
                    areas: areas
                };

                console.log(customChoice);

                    $.ajax({
                        url: "/api/setDataForUser",
                        contentType: "application/json",
                        type: "POST",
                        data: JSON.stringify(customChoice),
                    }).done(function (res) {
                        console.log('res', res);
                    });
            });

        });

        thereAreChosenAreas = function () {
            let imgs = $('#bodymuscles').find(".area");
            let flag = false;
            $.each(imgs, function () {
                if (!$(this).hasClass("hidden")) {
                    flag = true;;
                }
            });
           
            return flag;
        }

        thereIsChosenDifficulty = function () {
            let diffs = $('#diffs').find("img");
            let flag = false;
            $.each(diffs, function () {
                if ($(this).attr('data-active') == 'true') flag = true;
            });
            return flag;
        }

        enableSend = function () {

            if (thereAreChosenAreas() && thereIsChosenDifficulty()) {
                $('#send').prop('disabled', false);
                $('#send').text('Let\'s Train!!!');
            }
            else {
                $('#send').prop('disabled', true);
                $('#send').text('Complete customization to begin training'); 

            }
        }
    </script>
}
