<style>
    .modal-content iframe {
        margin: 0 auto;
        display: block;
        max-width: 100%;

    }
</style>

<div class="modal fade" id="workoutModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="workout name">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <iframe id="exVideo" src="https://www.youtube.com/embed/tZNO8gTo6Ic" frameborder="0" allowfullscreen></iframe>
                <p id="layout_modal_title"></p>
                @*<img id="curr_exercise" />*@
                <!-- <div class="flexslider">
                            <ul class="slides">
                                @*<li data-flip-title="Red">*@
                                <li data-thumb="~/Content/Images/exercises/1.png">
                                    <img src="~/Content/Images/exercises/1.png">
                                </li>
                                @*<li data-flip-title="Razzmatazz" data-flip-category="Purples">
                                *@
                                <li data-thumb="~/Content/Images/exercises/2.png">
                                    <img src="~/Content/Images/exercises/2.png">
                                </li>
                                @*<li data-flip-title="Deep Lilac" data-flip-category="Purples">
                                *@
                                <li data-thumb="~/Content/Images/exercises/3.png">
                                    <img src="~/Content/Images/exercises/3.png">
                                </li>
                                @*<li data-flip-title="Daisy Bush" data-flip-category="Purples">
                                *@
                                <li data-thumb="~/Content/Images/exercises/4.png">
                                    <img src="~/Content/Images/exercises/4.png">
                                </li>
                                @*<li data-flip-title="Cerulean Blue" data-flip-category="Blues">
                                *@
                                <li data-thumb="~/Content/Images/exercises/5.png">
                                    <img src="~/Content/Images/exercises/5.png">
                                </li>
                                @*<li data-flip-title="Dodger Blue" data-flip-category="Blues">
                                *@
                                <li data-thumb="~/Content/Images/exercises/6.png">
                                    <img src="~/Content/Images/exercises/6.png">
                                </li>
                                @*<li data-flip-title="Cyan" data-flip-category="Blues">
                                *@
                                <li data-thumb="~/Content/Images/exercises/1.png">
                                    <img src="~/Content/Images/exercises/1.png">
                                </li>
                                @*<li data-flip-title="Robin's Egg" data-flip-category="Blues">
                                *@
                                <li data-thumb="~/Content/Images/exercises/2.png">
                                    <img src="~/Content/Images/exercises/2.png">
                                </li>
                            </ul>
                        </div>

                        @*<div id="carousel">
                    <div class="slide">
                        <p>
                            <a href="#"> <img alt="Image Caption" src="~/Content/Images/exercises/1.png" /> </a>
                            <span> Lorem ipsum dolor sit amet, consectetur elit </span>
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            <a href="#"> <img alt="Image Caption" src="~/Content/Images/exercises/2.png" />	</a>
                            <span> Aliquam at tincidunt metus. </span>
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            <a href="#"> <img alt="Image Caption" src="~/Content/Images/exercises/3.png" /> </a>
                            <span> Donec pellentesque leo ac risus porta non rhoncus nisi vehicula.	</span>
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            <a href="#"> <img alt="Image Caption" src="~/Content/Images/exercises/4.png" /> </a>
                            <span> Donec augue mi, ullamcorper vel placerat. </span>
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            <a href="#"> <img alt="Image Caption" src="~/Content/Images/exercises/5.png" /> </a>
                            <span> Curabitur nec dapibus neque. Aenean orci enim, rutrum ac lacinia in, dapibus sit amet lorem.	</span>
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            <a href="#"> <img alt="Image Caption" src="~/Content/Images/exercises/6.png" />	</a>
                            <span> Praesent tortor neque, pulvinar non faucibus a, vestibulum a massa. </span>
                        </p>
                    </div>
                    <div class="slide">
                        <p>
                            <a href="#"> <img alt="Image Caption" src="~/Content/Images/exercises/1.png"> </a>
                            <span> Praesent molestie molestie ultrices. Mauris adipiscing suscipit pulvinar. </span>
                        </p>
                    </div>

                    <div class="navigate-left"><img src="~/Content/Images/arrow-left.png" /></div>
                    <div class="navigate-right"><img src="~/Content/Images/arrow-right.png" /></div>
                </div>*@
                      <div class="modalStopwatch stopwatch" data-timer="900" style="max-height: 100px; max-width: 100px;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    -->
            </div>
        </div>
    </div>
</div>