@{
    ViewBag.Title = "Contact";
}

<style>
    img {
        width:100%;
        height: 100%;
        max-height:500px;
        margin-bottom: 10px;
    }
</style>

<h1>Quick start with a random full body workout</h1>
<div id="quickProgram" class="row">
    @{int i = 1;}
    @foreach (var or in ViewBag.Workouts)
    {
        <div class="col-md-4 workout" oid="@or.Id" mode="0" oids="@or.Id" id="tr@(i)" data-time="1000">
            <img src="@("../Content/images/fullBody/" + or.ImageName)" class="card"/>
        </div>

        i++;
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".workout").click(function () {
                toggleWorkoutModal_Layout({ time: $(this).attr("data-time") });
            });
        });

    </script>
}